/*INICIO DISEÑO HEADER*/
header {
  top: 0px;
  margin: 0px;
  /* background-color: rgba(0, 0, 0, 0.527); */
  
}

.index-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

.index-nav li a {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  margin: 20px;
  padding: 0;
}

#img_logo {
  width: 300px;
}

/*INICIO DISEÑO HOMEPAGE*/
#img_home {
  max-width: 100%;
  height: auto;
}

#img_serv {
  width: 300px;
  height: 300px;
}

.texto-alin {
  text-align: center;
}

.titulo-alin {
  text-align: center;
  font-size: 30px;
  letter-spacing: 7px;
}

.BigBox {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.box {        
  /*
  width: 350px;
  height: 300px;
  */
  margin: 10px;
  padding: 25px;
  
}
.titulo-alin {
  display: flex;
  flex-direction: row;    
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  font-weight: 1000;
  animation-name: cambiarColor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes cambiarColor {
  0% {
      background: red;
      width: 100vw;
  }

  /* Primer fotograma */
  50% {
      background: yellow;
      width: 100vw;
  }

  /* Segundo fotograma */
  100% {
      background: blue;
      width: 100vw;
  }
}

.footer {
  color:antiquewhite;
  background-color: rgba(0, 0, 0, 0.541);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
      }

.footer1 {
  display: flex;
  justify-content: center;
  gap: 4rem;

}

.footer2 {
  display: flex;
  justify-content: end;
}