header {
    top: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.527);
}

.index-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.index-nav li a {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    padding: 0;
}

#img_logo {
    width: 300px;
}

#img_home {
    width: 1900px;
    height: 1100px;
}

#img_serv {
    width: 300px;
    height: 300px;
}

.texto-alin {
    text-align: center;
}

.BigBox {
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.box {        
    width: 350px;
    height: 300px;
    margin: 10px;
    padding: 25px;
    
}

.footer {
    color:antiquewhite;
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
        }

.footer1 {
    display: flex;
    justify-content: center;
    gap: 4rem;

}

.footer2 {
    display: flex;
    justify-content: end;
}