header {
    position: sticky;
    top: 0px;
    margin: 0px;
    background-color: rgba(255, 0, 0, 0.719);
}

.quienessomos-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.quienessomos-nav li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    padding: 0;
}

#img_logo {
    width: 150px;
}

#quienes_somos {
    display: block;
    margin: 0px auto;
}

#img_equipo {
    width: 100px;
    float: left;
    }

    .BigBox {
        display: flex;
        flex-direction: row;    
    }

      .box {
        
        width: 350px;
        height: 300px;
        margin: 10px;
        padding: 25px;
        border: 1px solid black;
        
      }

/*
    .box1 {
        
        width: 350px;
        height: 300px;
        margin: 10px;
        padding: 25px;
        border: 1px solid black;
        
      }

.box2 {
        width:350px;
        height: 350px;
        margin: 10px;
        padding: 25px;
        border: 1px solid black;
        
      }

.box3 {
        width: 350px;
        height: 350px;
        margin: 10px;
        padding: 25px;
        border: 1px solid black;
      }

*/

.footer1 {
    text-align: center;
}

.footer2 {
    text-align: right;
}

