BODY {
    background-color: rgb(223, 241, 231);
    color: black;
}

.titulo {
    background-color: rgb(233, 176, 149);
    text-align: center;
}

.footer1 {
    text-align: center;
}

.footer2 {
    text-align: right;
}

