header {
    position: sticky;
    top: 0px;
    margin: 0px;
    background-color: rgba(255, 0, 0, 0.719);
}

.ar-quienessomos-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.ar-quienessomos-nav li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    padding: 0;
}

#ar-img_logo {
    width: 150px;
}

#ar-quienes_somos {
    display: block;
    margin: 0px auto;
    width: 1300px;
    }

#ar-img_equipo {
    width: 100px;
    float: left;
    }

.ar-texto-alin {
    text-align: center;
}

.ar-BigBox {
        display: flex;
        flex-direction: row;  
        justify-content: center;  
    }

    .ar-box {        
        width: 350px;
        height: 300px;
        margin: 10px;
        padding: 25px;
        border: 1px solid black;
    }

.footer {
    color:antiquewhite;
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
        }

.footer1 {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer2 {
    display: flex;
    justify-content: end;
    
}


