.contacto-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#serv-img {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: rgb(50, 11, 189);
    color: white;
}
.t-center {
    text-align: center;
}
BODY 

.titulo {
    background-color: rgb(233, 176, 149);
    text-align: center;
}

.footer1 {
    text-align: center;
}

.footer2 {
    text-align: right;
}

